* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
}

.menu-btn__hamburger {
  position: relative;
  width: 48px;
  height: 6px;
  background-color: #fff;
  border-radius: 12px;
  transition: 1s;
  cursor: pointer;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 15px;
    transition: 1s;
  }

  &::after {
    transform: translateY(-16px);
  }

  &::before {
    transform: translateY(16px);
  }

  &.active {
    transform: translateX(-35px);
    background: transparent;
    &::before {
      transform: rotate(45deg) translate(25px, -25px);
    }
    &::after {
      transform: rotate(-45deg) translate(25px, 25px);
    }
  }
}
